<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css -->
    <link rel="stylesheet" href="stile.css">
    <!-- link fa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>To Do List</title>
</head>
<body>
    <div id="root">
        <div id="add">
            <input v-model="newToDo" @keydown.enter="addToDo" type="text" placeholder="Nuovo ToDo">
            <button @click="addToDo">Aggiungi</button>
        </div>
        <ul>
            <li v-for="(todo,index) in todos">
                <span :style="todo.done?'text-decoration:line-through':'text-decoration:initial'" @click="todo.done=!todo.done">{{todo.text}}</span>
                <button @click="deleteToDo(index)"><i class="fa fa-close"></i></button>
            </li>
        </ul>
    </div>
    <!-- link vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- link js -->
    <script src="script.js"></script>
</body>
</html>