* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    padding: 1em;
}

#add {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 1em auto;
    gap: 1em;
    flex-wrap: wrap;
}

#add input {
    flex-grow: 2;
    padding: .5em;
}

#add button {
    flex-grow: 1;
    flex-shrink: 0;
    padding: .5em;
    cursor: pointer;
}

ul {
    list-style: none;
    background-color: gray;
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
}

li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 1em;
}

li:hover {
    background-color: white;
    cursor: pointer;
}

li button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}